body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background-image: url("../images/modis_wonderglobe_lrg.jpg");
  background-size: cover;
  /* margin-top: 14px; */
  color: white;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333c2;
  color: #DDDDDD;
  padding: 10px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333c2;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
  cursor: pointer;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
}

#pano {
  top: 25px;
  height: 60%;
  width: 100%;
  position: absolute !important;
}
#map {
  /* top: 350px;
  left: 250px;
  z-index: 99; */
  height: 40%;
  width: 100%;
  position: static !important;
}

#map {
  cursor: crosshair !important;
}

#map #pano {
  /* height: 50%;
  width: 100%; */
  z-index: -1 !important;
  /* float: none; */
}

button#submit {
  position: fixed !important;
  z-index: 1000000 !important;
  bottom: 25px;
  margin-left: 50%;
  align-content: center;
  padding: 10px 15px;
  background-color: #0c7c0c;
  border-color: #0c7c0c;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 15px;
  opacity: 0.6;
  border-radius: 10px;
}

button#submit:hover {
  cursor: pointer;
  background-color: #0c7c0c;
  opacity: 1;
}

#resultMap {
  height: 85%;
  width: 100%;
  position: absolute !important;
}

.infoTable {
  color: white;
  background-color: #353535bd;
  text-align: center;
  margin: auto;
  border-top: #0c7c0c;
  border-collapse: collapse; 
  margin-bottom: 75px;
}

#username {
  color: white;
  padding: 6px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.infoTable > tbody > tr > th{
  padding: 7px 14px;
  text-align: center;
  background-color: #0c7c0c;
  border-color: #0c7c0c; 
}
.infoTable > tbody > tr > td{
  padding: 7px 14px;
  text-align: center;
}

.loginContainer {
  text-align: center;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.loginForm {
    border: 2px solid rgb(107, 107, 107);
    background-color: #353535bd;
    min-height: 175px;
    min-width: 325px;
    overflow: auto;
    padding: 25px 15px 45px 15px;
}

main{
  height: 100%;
}

.password {
  padding-top: 10px;
}

div.loginButtons {
  padding-top: 10px;
}

.loginButton {
  padding: 7px 10px;
  background-color: rgb(3, 176, 199);
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 15px;
  border-radius: 10px;
  border-color: rgb(3, 176, 199);
}

.loginButton:hover {
  cursor: pointer;
  background-color: #0095af;
  border-color: #0095af;
}

.registerLink {
  color: rgb(33, 206, 90);
  text-decoration: none;
}

#welcome {
  align-items: center;
  padding-bottom: 50px;
  text-shadow: 2px 2px black;
}

.userViewContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.easyModeButton {
  padding: 7px 10px;
  background-color: #e7890f;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 25px;
  border-radius: 10px;
  border-color: #e7890f;
  margin: 10px;
}
.easyModeButton:hover {
  cursor: pointer;
  background-color: #c0730e;
  border-color: #c0730e;
}

.easyModeContainer {
  display: flex;
  flex-direction: row;
  width: 65%;
  background-color: #353535;
  top: 0px;
  justify-content: flex-end;
  margin-top: 30px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  background-color: #353535;
  top: 0px;
}

#distance {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#results {
  height: 100%;
  background-color: #353535;
}

#homeButton {
  padding: 8px 11px;
  background-color: rgb(3, 176, 199);
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 17px;
  border-radius: 10px;
  border-color: rgb(3, 176, 199);
  height: 50%;
}

#homeButton:hover {
  cursor: pointer;
  background-color: #0095af;
  border-color: #0095af;
}

#playAnotherButton {
  margin-left: 15px;
  padding: 8px 11px;
  background-color: #e7890f;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 17px;
  border-radius: 10px;
  border-color: #e7890f;
  height: 50%;
}

#playAnotherButton:hover {
  cursor: pointer;
  background-color: #c0730e;
  border-color: #c0730e;
}

#timer {
  z-index: 1000000 !important;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 0px;
  /* justify-content: flex-end; */
}

#timerContainer {
  display: flex;
  width: 100%;
  height: 25px;
  background-color: #353535;
  z-index: 100000 !important;
  position: fixed !important;
  justify-content: space-between;
}

#gameTitle {
  z-index: 1000000 !important;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 0px;
}

.timedModeButton {
  padding: 7px 10px;
  background-color: #b81212;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 25px;
  border-radius: 10px;
  border-color: #b81212;
  margin: 10px;
}

.timedModeButton:hover {
  cursor: pointer;
  background-color: #991a1a;
  border-color: #991a1a;
}

.gameModeButtons {
  bottom: 45px;
}

#deleteGameData:hover {
  cursor: pointer;
}

#tryAnother:hover {
  cursor: pointer;
}

#deleteGameData {
  font-size: 30px;
}

#tryAnother {
  font-size: 30px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
}

#logo {
  margin-left: 15px;
}