<div id="timerContainer">
    <p id="gameTitle">Pin Dropper</p>
    <p id="timer" ng-if="vm.gameMode == 'Timed'">{{vm.time | secondsToDateTime | date:'mm:ss'}}</p>
</div>
<div class="container">
    <div id="pano"></div>
    <div id="map"></div>
</div>

<div>
    <button id="submit" ng-click="vm.submitGuess()">Submit Guess</button>
</div>

<div id="gameModal" class="modal">

    <div class="modal-content">
        <div class="modal-header">
            <h2>The Rules</h2>
        </div>
        <div class="modal-body">
            <p>Pin Dropper is a game where you try to find out where you are in the world based on a google map panorama view.</p>
            <p>Click on the map below where you think you are and then hit submit.</p>
        </div>
        <div class="modal-footer">
            <span class="close2">Got It</span>
            <h3>Have Fun!</h3>
        </div>
    </div>
</div>