<header ng-include="'../views/partials/header.html'"></header>
<div class="loginContainer">
  <div class="loginForm">
    <h1 class="lead">Register User</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h1>
    <form ng-submit="vm.registerUser()">
      <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="vm.user.username" />
      </div>
      <div class="password">
        <label for="password">Password:</label>
        <input type="password" ng-model="vm.user.password" />
      </div>
      <div class="loginButtons">
        <input class="loginButton" type="submit" name="submit" value="Register" />
        <a class="registerLink" href="#!home">Cancel</a>
      </div>
    </form>
  </div>
</div>